body
{

background: url(Images/fond14.jpg) no-repeat;
   background-color:     white;
   background-position: top;
margin-top: 10%;

   background-attachment: fixed;
   background-repeat:    no-repeat;
   background-position:  center;

}

#contenu
{
margin-left: 212px;
}

#menu
{

float: left;
width: 202px;
color: rgb(112, 112, 112);


}







fieldset
{
box-shadow: 5 5 4px #555;
}

table a
{
text-decoration: none;
}

#menu2
{
	position: fixed;
margin-left: 1px;


display: block;
float: left;
 margin-top: 10px;
	background-color: #b5d3da;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	z-index: 3;
	top: 3px;
}

#menu2 li
{

display: block;
height: 20px;

padding-top: 12px;
font-size: 20px;
line-height: 20px;
}

#menu2 li :hover
{
background-color: #fff;
text-shadow: 5px 5px 50px #b3b3b3;

}

@media screen and (max-height: 500px)
{

#menu2
{
height: 300px;
width: 70px;
display: table;
}
}

#menu2 li
{

display: block;
height: 20px;

padding-top: 12px;

font-size: 20px;

}

#menu2 li :hover
{
background-color: #fff;
text-shadow: 5px 5px 50px #b3b3b3;

}

#menu2 tr td a
{
color: black;
font-size: 25px;

}





h4
{
vertical-align: middle;

}


h5
{
text-align: center;
font : Verdana;

}

/*====================================== les styles tableau =========================================*/
.tableauquestion, .tableaulien, .tableaucompte, .tableaufichier, .tableaureponse, .tableaureponses
{


border-radius: 20px;
width: 100%;
}

.tableauquestion tr td, .tableaulien tr td, .tableaucompte tr td, .tableaufichier tr td, .tableaureponse tr td, .tableaureponses tr td
{
padding: 5px;
margin: 10 px;
border-radius: 2px;


}




/*======================================tableau question============================*/



.tableauquestion
{
border: 4px solid #8da580;
background-color: white;


}

.tableauquestion tr td
{
background-color: white;

}

.tableauquestion :hover
{
background-color: #f5f5f5;

}



/*======================================tableau lien============================*/


.tableaulien
{


background-color: #d9ffc5;

}


.tableaulien tr td
{

background-color: white;

}

/*====================================== dm ===========================*/

#dm
{

background-color: #d9ffc5;

}


/*====================================== tableaufichier ===========================*/


.tableaufichier
{
border: 2px solid #a1ffa7;
}

.tableaufichier tr td
{
background-color: #c7ffca;
}


/*====================================== tableaureponseSSSSS ===========================*/

.tableaureponses
{
border: 5px double #aeff83;
}

.tableaureponses tr td
{
background-color: white;
}

/*====================================== tableaureponse ===========================*/

.tableaureponse
{
border: 2px dotted #008db4;
background-color: #00c9ff;
}

.tableaureponse tr td
{
background-color: white;
}


/*====================================== tableau compte ===========================*/

.tableaucompte
{

background-color: #effafc;

}

.tableaucompte tr td, .tableauonglet
{
empty-cells: show;
margin: 4px;
padding: 4px;
background-color: #c3f0fc;
}

.tableaucompte tr th
{
width: 25%;
border-radius: 10px;
margin: 4px;
padding: 4px;
height: 20px;
}


.tableaucompte tr th:hover
{
border: 1px solid #88e5fd;
}

/*====================================== tableauagenda ===========================*/

#tableauagenda
{
border: 0.5px solid #b53cda;
background-color: ##ffffab;
}

#tableauagenda tr td
{
padding: 2px;
margin: 5 px;
background-color: white;
}


/*====================================== tableau tout ===========================*/

#tableautout
{

background-color: #ffcbff;
}

#tableautout tr td
{
padding: 2px;
margin: 5 px;
background-color: white;
}




/*====================================== tableau   agenda   formaulaire ===========================*/

.tableauagendaformulaire
{
border: 1px solid #008db4;
background-color: #b5efda;
}

.tableauagendaformulaire tr td
{
padding: 2px;
margin: 5 px;
background-color: white;
}




/*====================================== tableau   agenda   formaulaire ===========================*/

.tableauindex
{
border: 1px solid #008db4;
background-color: #afafaf;
opacity: 0.8;
font-size: 10px;
color: #2a4eef;
margin-bottom: 30px;
}

.tableauindex tr td
{

}









#notification
{
position: fixed;
width: 20%;
height: 20%;
float: right;
opacity: 0.8;
background-color: silver;
font: black;

bottom: 3%;
right: 1%;
z-index: 5;
display: block;

}



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$   chat   $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



#mon_chat
{

background-color: #40c5e6;


}

#mon_chat tr td
{
font: Verdana 10px;

}



#chat2
{
height: 200px;
 overflow: scroll;
margin-bottom: 2px;
}

#chat3
{
height: 250px;
 overflow: scroll;

}





        .onglet
         {
                display:inline-block;
				width: 80px;

                 margin-left:5px;/*definir l'espacement*/

                 padding:3px;

                 cursor:pointer;

         }

         .onglet_0
         {

background-color : #acded5;
border: 1px solid black;
         }
         .onglet_1
         {

                 border-bottom:0px solid black;
                 padding-bottom: 0px;

         }
         .contenu_onglet
         {
				background-color : white;
                 margin-top:-1px;
                 padding: 3px;
				 margin-left: 1px;
                 display:none;
				 border:3px solid #40c5e6;
				 font-size: 12px;
         }


		 #all_onglets
		 {
position: fixed;
width: 30%;

bottom: 0.2px;
right: 0.2px;

opacity : 0,3;

z-index: 6;
display: block;
margin: auto;


		 }





/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$     Mon agenda  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/




#mon_agenda
{

background-color: #40c5e6;


}

#mon_agenda tr td
{
font: Verdana 10px;

}



#agenda2
{
height: 200px;
 overflow: scroll;
margin-bottom: 2px;
}

#agenda3
{
height: 250px;
 overflow: scroll;

}




        .agenda
         {
                display:inline-block;
				width: 80px;

                 margin-left:5px;/*definir l'espacement*/

                 padding:3px;

                 cursor:pointer;

         }
		 .mechantpapa
		 {

		 cursor:pointer;
		 display: inline-block;



		 }
         .agenda_0
         {

background-color : #acded5;
border: 1px solid black;
         }
         .agenda_1
         {

                 border-bottom:0px solid black;
                 padding-bottom: 0px;

         }
         .contain_agenda
         {
				background-color : white;
                 margin-top:-1px;
                 padding: 3px;
				 margin-left: 1px;
                 display:none;
				 border:3px solid #40c5e6;
				 font-size: 12px;

         }


		 #all_agendas
		 {
position: fixed;
width: 30%;

top: 0.2px;
right: 0.2px;

opacity : 0,3;

z-index: 6;
display: block;
margin: auto;


		 }







/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$   fenetre  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/








        .fenetre
         {
                 display:inline-block;


                 padding:3px;
                 border:1px solid black;
                 cursor:pointer;
         }
         .fenetre_0
         {


         }
         .fenetre_1
         {
                 background: #adddd6;
                 border-bottom:0px solid black;
                 padding-bottom:4px;

         }
         .donee_fenetre
         {
				opacity: 0,6;

                 margin-top:-1px;
                 padding:5px;
                 display:none;
         }
		 #all_fenetres
		 {
		 display: block;
		 margin: auto;
		 text-align: center;

		 width: 500px;
		 }

